.blockHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;
}

.blockHeaderInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.blockHeaderIcon {
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    object-fit: contain;
}
