.footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-direction: row;

    color: var(--secondary-text-color)
}

.footerContainer p {
    text-wrap: balance;
    text-align: left;
}

.footerContainer button {
    padding: 0;
    border: none;
    background: none;
    white-space: nowrap;
}

.sidebarFooter {
    width: 100%;
    padding: 24px 0;
}

.sidebarFooter .footerContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    text-align: left;
}

@media (max-width: 900px) {
    .sidebarFooter {
        padding: 32px 0;
    }
}

@media (max-width: 620px) {
    .footerContainer {
        flex-direction: column;
        
        text-align: center;

        gap: 16px;
    }
}
