.buttonPrimary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2px;
    width: fit-content;
    height: 32px;
    padding: 6px 8px;
    border: none;
    border-radius: 8px;

    color: var(--primary-button-text-color);
    background-color: var(--primary-button-bg);
    font-size: var(--main-text-size);
    text-decoration: none;
    line-height: 100%;
    white-space: nowrap;
    cursor: pointer;

    transition: background-color 0.1s ease, transform 0.1s ease;
}

.buttonPrimary:hover {
    color: var(--primary-button-text-color) !important;
    background-color: var(--primary-button-hover-bg);
    text-transform: uppercase;
}

.buttonPrimary:active {
    transform: scale(0.92);
}

.label,
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: currentColor;
    font-size: inherit;
    line-height: 1;
}

.icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    pointer-events: none;
}
