.page {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 0px;

    padding: 0 12px;
}

@media (max-width: 620px) {
    
}