.header {
    background-color: var(--bg-color);

    width: 100%;
    padding: 40px 0;
    margin-bottom: 20vh;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.logo {
    width: 120px;
}

.logo img {
    width: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0px;
    flex-wrap: wrap;
}

.row span {
    margin-right: 8px;
}

.links {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    row-gap: 2px;
    flex-wrap: wrap;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 620px) {
    .page {
        padding: 0 16px; 
    }

    .header {
        background-color: var(--bg-color);

        width: 100%;
        padding: 32px 0;
        margin-bottom: 26vh;
        position: relative;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}